body {
    background-image: URL("background.gif");
}
button {
    width: 150px;
    height: 35px;
    border: none;
    background-image: url("button.jpg");
    background-size: cover;
    border-radius: 5px;
    margin: 1em;
    display: center;
}
button:hover {
    opacity: 0.8;
}

button:active {
    transform: scale(0.95);
}
a {
    color: white;
    text-decoration: none;
}
p {
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    color: white;
    background-color: #43127a;
    border-radius: 5px;
    font-size: 12px;
}